.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navigation {
	background: #282c34;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation a:link,
.navigation a:visited {
	color: white;
	text-decoration: none;
}

.active {
	font-weight: bold;
	color: red !important;
}

.error {
	font-weight: bold;
	color: red !important;
}

.forgotPassword {
	background: none !important;
	border: none !important;
	text-decoration: underline;
	margin-left: 5px;
	color: #069;
}

.forgotPassword:hover {
	text-decoration: none;
	color: red;
}

/*****************************************************************************/

span.pos {
    padding-right: 5px;
}

.LS, .RS, .ST, .LW, .RW, .CF, .LF, .RF {
    color: #2871ee !important;
}
.LM, .RM, .CAM, .LAM, .RAM, .CM, .LCM, .RCM, .CDM, .LDM, .RDM {
    color: #2c832f !important;
}
.LB, .RB, .LWB, .RWB, .CB, .LCB, .RCB {
    color: #e77e23 !important;
}
.GK {
    color: #d13913 !important;
}

.p-0, .p-1, .p-2, .p-3, .p-4, .p-5, .p-6, .p-7, .p-8, .p-9, .p-10, 
.p-11, .p-12, .p-13, .p-14, .p-15, .p-16, .p-17, .p-18, .p-19, .p-20, 
.p-21, .p-22, .p-23, .p-24, .p-25, .p-26, .p-27, .p-28, .p-29, .p-30, 
.p-31, .p-32, .p-33, .p-34, .p-35, .p-36, .p-37, .p-38, .p-39, .p-40, 
.p-41, .p-42, .p-43, .p-44, .p-45, .p-46, .p-47, .p-48, .p-49, .p-50 {
    background: #d13913 !important;
    color: #ffffff !important;
    padding: 0 5px;
}
.p-51, .p-52, .p-53, .p-54, .p-55, .p-56, .p-57, .p-58, .p-59, .p-60 {
    background: #e77e23 !important;
    color: #ffffff !important;
    padding: 0 5px;
}
.p-61, .p-62, .p-63, .p-64, .p-65, .p-66, .p-67, .p-68, .p-69, .p-70 {
    background: #ffc940 !important;
    color: #ffffff !important;
    padding: 0 5px;
}
.p-71, .p-72, .p-73, .p-74, .p-75, .p-76, .p-77, .p-78, .p-79, .p-80 {
    background: #9bbf30 !important;
    color: #ffffff !important;
    padding: 0 5px;
}
.p-81, .p-82, .p-83, .p-84, .p-85, .p-86, .p-87, .p-88, .p-89, .p-90, 
.p-91, .p-92, .p-93, .p-94, .p-95, .p-96, .p-97, .p-98, .p-99 {
    background: #2c832f !important;
    color: #ffffff !important;
    padding: 0 5px;
}

/********************************/
.p-map, .t-map {
    position: relative;
    width: 600px;
    height: 480px;
    background: transparent url('https://cdn.sofifa.com/img/field.png') no-repeat scroll center top;
    background-size: cover;
}
.p-map {
    width: 320px;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}
.p-map div {
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}
@media screen and (max-width: 600px) {
    .t-map {
        width: 100%;
        height: calc(100vw * 0.8);
    }
}
.t-LS, .t-RS, .t-ST, .t-LW, .t-RW, .t-CF, .t-LF, .t-RF, 
.t-LM, .t-RM, .t-CAM, .t-LAM, .t-RAM, .t-CM, .t-LCM, .t-RCM, .t-CDM, .t-LDM, .t-RDM, 
.t-LB, .t-RB, .t-LWB, .t-RWB, .t-CB, .t-LCB, .t-RCB, 
.t-GK {
    position: absolute;
}

.t-LS {
    top: 0;
    left: 24%;
}
.t-RS {
    top: 0;
    right: 24%;
}
.t-ST {
    top: 0;
    left: calc(50% - 150px / 2);
}
.t-LW {
    top: 7%;
    left: 4%;
}
.t-RW {
    top: 7%;
    right: 4%;
}
.t-CF {
    top: 12%;
    left: calc(50% - 150px / 2);
}
.t-LF {
    top: 12%;
    left: 24%;
}
.t-RF {
    top: 12%;
    right: 24%;
}
.t-LM {
    top: 24%;
    left: 4%;
}
.t-RM {
    top: 24%;
    right: 4%;
}
.t-CAM {
    top: 24%;
    left: calc(50% - 150px / 2);
}
.t-LAM {
    top: 24%;
    left: 24%;
}
.t-RAM {
    top: 24%;
    right: 24%;
}
.t-CM {
    bottom: 55%;
    left: calc(50% - 150px / 2);
}
.t-LCM {
    bottom: 55%;
    left: 24%;
}
.t-RCM {
    bottom: 55%;
    right: 24%;
}
.t-CDM {
    bottom: 38%;
    left: calc(50% - 150px / 2);
}
.t-LDM {
    bottom: 38%;
    left: 24%;
}
.t-RDM {
    bottom: 38%;
    right: 24%;
}
.t-LWB {
    bottom: 45%;
    left: 4%;
}
.t-RWB{
    bottom: 45%;
    right: 4%;
}
.t-LB {
    bottom: 26%;
    left: 4%;
}
.t-RB {
    bottom: 26%;
    right: 4%;
}
.t-CB {
    bottom: 17%;
    left: calc(50% - 150px / 2);
}
.t-LCB {
    bottom: 22%;
    left: 24%;
}
.t-RCB {
    bottom: 22%;
    right: 24%;
}
.t-GK {
    bottom: 2%;
    left: calc(50% - 150px / 2);
}
/********************************/


.team-card-section, .player-card-section, .player-ability {
    display: flex;
    flex-wrap: wrap;
}
.team-card, .player-card, .player-ability-card {
    margin: 0.8rem;
    padding: 0.6rem 1rem 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 5%), 0 4px 6px -2px rgb(0 0 0 / 1%);
}

.team-card h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    margin-block-start: 0;
}
.team-card h3 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;  
}

.player-card h4 {
    text-transform: uppercase;
    font-weight: 500;
    margin-block-start: 0;
}

.player-ability-card {
    width: 180px;
}
.player-ability-card h5 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin-block-start: 0;
}
.player-ability-card ul, .player-card ul {
    list-style: none;
    padding-inline-start: 0;
}
.player-ability-card ul li {
    font-size: 1.05rem;
    margin-bottom: 5px;
}
.player-ability-card ul li span:nth-child(1) {
    float: left;
    width: 20px;
    text-align: center;
}
.player-ability-card ul li span:nth-child(2) {
    margin-left: 10px;
}
.newslink {
    text-decoration: none;
    color: #000000;
}

/********************* table **********************/
.table {
    text-align: center;
    border-collapse: collapse;
    font-size: 1.05rem;
}
.table tr {
    border-bottom: 1px solid #dcdcdc;
}
.table th {
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px;
}
.table th:nth-child(2) {
    text-align: left;
}
.table th:nth-child(5) {
    text-align: left;
}

.table-td-img {
    height: 60px;
}
.table-td-img img {
    height: 60px;
    width: auto;
    vertical-align: middle;
    display: table-cell;
    margin-left: 10px;
    margin-right: 10px;
}
.table-team-td-img img {
    height: 80%;
}

.table-td-info {
    text-align: left;
}
.table-td-info a {
    text-decoration: none;
    color: #000000;
}

.table-td-info-span {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.85);
}

.table-player-teaminfo {
    padding-left: 5px;
}

.table-td-info-div {
    display: table;
}
.table-td-info-div span {
    vertical-align: middle;
    display: table-cell;
}
.table-td-info-div img {
    max-height: 30px;
    vertical-align: middle;
    display: table-cell;
    margin-right: 5px;
}

.table-td-info-contract-free {
    background-color: rgba(255, 0, 0, 0.15);
    color: rgba(190, 0, 0, 0.8);
    width: 35px;
    margin-top: 2px;
    text-align: center;
}
.table-td-info-contract-loan {
    background-color: rgba(0, 255, 0, 0.15);
    color: rgba(0, 127, 0, 0.8);
    width: 70px;
    margin-top: 2px;
    text-align: center;
}
.table-td-info-contract {
    color: rgba(0, 0, 0, 0.75);
}
/********************* team ******************/
.team-lineup-img {
    position: relative;
    width: 60px;
    display: block;
    margin-left: 45px;
    z-index: 1;
}
.team-lineup-div {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    color: #ffffff;
}
.team-lineup-link {
    text-decoration: none;
    color: #ffffff;
}
.team-lineup-number {
    padding: 5px;
}
.team-lineup-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*************** standings ***************/
.standings {
    margin: 20px auto 60px;
    text-align: center;
    border-collapse: collapse;
    font-size: 1.05rem;
}
.standings tr {
    border-bottom: 1px solid #dcdcdc;
}
.standings th {
    font-weight: 500;
    padding: 5px;
}
.standings th:nth-child(2) {
    text-align: left;
}

.standings td {
    padding: 2px 5px;
}
.standings-td-rank {
    padding: 0 10px;
}
.standings-td-name {
    width: 220px;
    text-align: left;
}
.standings-td-name:hover {
    cursor: pointer;
}
.standings-img {
    width: 30px;
    vertical-align: middle;
    display: table-cell;
}
@media screen and (max-width: 600px) {
    .standings-d {
        display: none;
    }
}

.standings-pro {
    background-color: rgba(0, 0, 255, 0.1);
}
.standings-pla {
    background-color: rgba(0, 0, 255, 0.06);
}
.standings-euro {
    background-color: rgb(255, 83, 0, 0.1);
}
.standings-conf {
    background-color: rgba(0, 255, 255, 0.1);
}
.standings-rele {
    background-color: rgba(255, 0, 0, 0.1);
}

/********************/
.player-list-section {
    display: flex;
    flex-wrap: wrap;
}
