.p-map {
  position: relative;
  width: 600px;
  height: 480px;
  background: transparent url('https://cdn.sofifa.com/img/field.png') no-repeat
    scroll center top;
  background-size: cover;
}
.p-map {
  width: 320px;
  height: 400px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 0.5rem 0.5rem 0;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0px;
  padding-left: 0.5rem;
}
.p-map div {
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
}

.player-ability {
  display: flex;
  flex-wrap: wrap;
}
.player-card-section {
  display: flex;
  flex-wrap: wrap;
  float: right;
}
.player-card,
.player-ability-card {
  margin: 0.8rem;
  padding: 0.6rem 1rem 0;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 5%), 0 4px 6px -2px rgb(0 0 0 / 1%);
}
.player-card h4 {
  text-transform: uppercase;
  font-weight: 500;
  margin-block-start: 0;
}

.player-ability-card {
  width: 180px;
}
.player-ability-card h5 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  margin-block-start: 0;
}
.player-ability-card ul,
.player-card ul {
  list-style: none;
  padding-inline-start: 0;
}
.player-ability-card ul li {
  font-size: 1.05rem;
  margin-bottom: 5px;
}
.player-ability-card ul li span:nth-child(1) {
  float: left;
  width: 20px;
  text-align: center;
}
.player-ability-card ul li span:nth-child(2) {
  margin-left: 10px;
}

.card {
  position: relative;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 5%),
    0 4px 6px -2px rgb(0 0 0 / 1%);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 5%), 0 4px 6px -2px rgb(0 0 0 / 1%);
}

.spacing {
  margin-bottom: 1rem !important;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.col-3 {
  width: 12rem;
}
.column {
  padding: 0 0.5rem;
  padding-top: 0px;
  padding-right: 0.5rem;
  padding-bottom: 0px;
  padding-left: 0.5rem;
  float: right;
}

.col-12 {
  width: 48rem;
}
