.t-map {
    position: relative;
    width: 600px;
    height: 480px;
    background: transparent url('https://cdn.sofifa.com/img/field.png') no-repeat scroll center top;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .t-map {
        width: 100%;
        height: calc(100vw * 0.8);
    }
}

.t-LS, .t-RS, .t-ST, .t-LW, .t-RW, .t-CF, .t-LF, .t-RF, 
.t-LM, .t-RM, .t-CAM, .t-LAM, .t-RAM, .t-CM, .t-LCM, .t-RCM, .t-CDM, .t-LDM, .t-RDM, 
.t-LB, .t-RB, .t-LWB, .t-RWB, .t-CB, .t-LCB, .t-RCB, 
.t-GK {
    position: absolute;
}

.t-LS {
    top: 0;
    left: 24%;
}
.t-RS {
    top: 0;
    right: 24%;
}
.t-ST {
    top: 0;
    left: calc(50% - 150px / 2);
}
.t-LW {
    top: 7%;
    left: 4%;
}
.t-RW {
    top: 7%;
    right: 4%;
}
.t-CF {
    top: 12%;
    left: calc(50% - 150px / 2);
}
.t-LF {
    top: 12%;
    left: 24%;
}
.t-RF {
    top: 12%;
    right: 24%;
}
.t-LM {
    top: 24%;
    left: 4%;
}
.t-RM {
    top: 24%;
    right: 4%;
}
.t-CAM {
    top: 24%;
    left: calc(50% - 150px / 2);
}
.t-LAM {
    top: 24%;
    left: 24%;
}
.t-RAM {
    top: 24%;
    right: 24%;
}
.t-CM {
    bottom: 55%;
    left: calc(50% - 150px / 2);
}
.t-LCM {
    bottom: 55%;
    left: 24%;
}
.t-RCM {
    bottom: 55%;
    right: 24%;
}
.t-CDM {
    bottom: 38%;
    left: calc(50% - 150px / 2);
}
.t-LDM {
    bottom: 38%;
    left: 24%;
}
.t-RDM {
    bottom: 38%;
    right: 24%;
}
.t-LWB {
    bottom: 45%;
    left: 4%;
}
.t-RWB{
    bottom: 45%;
    right: 4%;
}
.t-LB {
    bottom: 26%;
    left: 4%;
}
.t-RB {
    bottom: 26%;
    right: 4%;
}
.t-CB {
    bottom: 17%;
    left: calc(50% - 150px / 2);
}
.t-LCB {
    bottom: 22%;
    left: 24%;
}
.t-RCB {
    bottom: 22%;
    right: 24%;
}
.t-GK {
    bottom: 2%;
    left: calc(50% - 150px / 2);
}

/********/
.team-header {
    width: 500px;
    max-width: 100%;
    text-align: center;
    margin: 10px auto;
}

.team-header-src a {
    color: #ffffff;
    background-color: #282c34;
}
.team-header-src img {
    height: 20px;
}

.team-header-div {
    width: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.team-header-div h1 {
    margin: 0;
    font-weight: 500;
}
.team-header-div a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}
.team-header-div a:hover {
    color: #3366ff;
}

.team-header-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team-header-data>div {
    display: inline-block;
    margin: 10px;
    text-transform: capitalize;
}

.team-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-card {
    height: 480px;
    padding: 0 1rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
.team-card h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}
.team-card h4 {
    text-align: center;
    font-size: 0.85rem;
    margin: 0;
    font-weight: 400;
}

.team-info {
    padding-bottom: 30px;
}
.team-info h3 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
}

.team-star-rating, .team-info-div {
    display: flex;
    justify-content: space-between;
}

.team-lineup-img {
    position: relative;
    width: 60px;
    display: block;
    margin-left: 45px;
    z-index: 1;
}
.team-lineup-div {
    width: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    color: #ffffff;
}
.team-lineup-link {
    text-decoration: none;
    color: #ffffff;
}
.team-lineup-number {
    padding: 5px;
}
.team-lineup-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.team-table-div {
    width: 600px;
    max-width: 100%;
    margin: 10px auto;
}

@media screen and (max-width: 971px) {
    .team-card-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
        width: 752px;
        margin-bottom: 20px;
        padding: 0;
    }
    .team-info {
        padding: 0 20px 15px;
    }
}
@media screen and (max-width: 794px) {
    .team-card-info, .team-kits {
        width: 600px;
        padding: 0;
        margin: 0;
    }
    .team-kits {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }
}
@media (max-width: 1149px) and (min-width: 971px) {
    .team-kits {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 869.29px;
        padding: 0;
    }
}