.landing-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .landing-fifa{
    height: 40vmin;
    width: 40vmin;
  }
  
  .landing-float-container {
    padding: 200px;
    align-items: center;
  }
  
  .landing-float-child {
    float: left;
    padding: 20px;
  }  
  